{% load static %}
{% load  tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% tailwind_css %}

    <!--    <link rel="stylesheet" href="static/css/style.css ">-->
    <link href="#" rel="shortcut icon"/>
    <title>VBC |{% block title %} {% endblock %}</title>
</head>

<body class="bg-gray-400 ">

    <nav aria-label="Global" class="mb-4 py-2 max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between ">
        <div class="flex items-center justify-between">
                    <img src="{% static 'medias/vbc.png' %}" class="h-10 rounded-xl">
            <a class="flex-none text-xl font-semibold" href="#">VILLEMOMBLE BOXING CLUB</a>
            </div>


        <div class="hidden basis-full grow sm:block " id="navbar-with-collapse">
            <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5 text-black">
                <a class="font-medium text-xl font-semibold  hover:text-gray-400  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                   href="#">À propos</a>
                <a   onclick="my_modal_1.showModal()" class="font-medium text-xl font-semibold  hover:text-gray-400  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                   href=#horaires >Horaires</a>
                <a class="font-medium text-xl font-semibold  hover:text-gray-400  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                   href=#tarifs >Tarifs</a>
                <a class="font-medium text-xl font-semibold  hover:text-gray-400  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                   href="#">Blog</a>
            </div>
        </div>
    </nav>


    {% block content %}

    {% endblock %}


<footer class=" flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full text-sm py-4 ">
    <div aria-label="Global" class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">

      <span class="flex items-center justify-between text-sm  sm:text-center font-semibold">VBC | 2024. ©  All Rights Reserved.
    </span>

    </div>
</footer>
</body>

</html>