{% load static %}
{% load  tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link
            href="medias/vbc.png"
            rel="vbc-logo"
            sizes="76x76"
    />
    <!--    <link-->
    <!--            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"-->
    <!--            rel="stylesheet"-->
    <!--    />-->
    <!--    <link-->
    <!--            href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"-->
    <!--            rel="stylesheet"-->
    <!--    />-->
    {% tailwind_css %}

    <!--    <link rel="stylesheet" href="static/css/style.css ">-->
    <link href="#" rel="shortcut icon"/>
    <title>VBC |{% block title %} {% endblock %}</title>
</head>

<body>


{% block content %}
{% endblock %}


<footer class=" text-gray-500 transition-colors duration-200 bg-white dark:bg-gray-900 text-2 dark:text-gray-200">

            <div class="flex flex-col items-center justify-center flex-1 mt-7 md:mt-0 md:items-start md:pl-5">
                <span class="">
                     2024
                </span>
                <span class="mt-7 md:mt-1">
                Conçu par
                    <a class="underline hover:text-primary-gray-20"
                                 href="https://www.linkedin.com/in/youcefaouali/">
                        Youcef
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>

</body>

</html>