{% load static %}
{% load  tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link
            href="medias/vbc.png"
            rel="vbc-logo"
            sizes="76x76"
    />
    <!--    <link-->
    <!--            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"-->
    <!--            rel="stylesheet"-->
    <!--    />-->
    <!--    <link-->
    <!--            href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"-->
    <!--            rel="stylesheet"-->
    <!--    />-->
    {% tailwind_css %}

    <!--    <link rel="stylesheet" href="static/css/style.css ">-->
    <link href="#" rel="shortcut icon"/>
    <title>VBC |{% block title %} {% endblock %}</title>
</head>

<body>
<nav class="text-gray-400 bg-gray-900 body-font  sticky top-0 z-50">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">

            <img alt="Logo Villemomble Boxing Club" class="mr-3  rounded size-10 flex align-items center"
                 src="static/medias/vbc.jpg"/>

            <span class="ml-3 text-xl">VBC</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">

            <a class="mr-5 text-lg text-white" href="{% url 'starter:blog'  %}">Blog</a>
            <a class="mr-5 text-lg text-white" href="#horaires">Horaires</a>
            <a class="mr-5 text-lg text-white" href="#tarifs">Tarifs</a>
            <a class="mr-5 text-lg text-white" href="#galerie">Galerie</a>
            <a class="mr-5 text-lg text-white" href="#FAQ">F.A.Q</a>
                        <a class="mr-5 text-lg text-white" href="{% url 'starter:contact' %} ">Contact</a>
        </nav>
    </div>
</nav>

{% block content %}
{% endblock %}

{% block contact %}
{% endblock %}


<footer class=" text-gray-500 transition-colors duration-200 bg-white dark:bg-gray-900 text-2 dark:text-gray-200 sticky top-full">

            <div class="flex flex-col items-center justify-center flex-1 mt-7 md:mt-0 md:items-start md:pl-5">
                <span class="">
                     2024
                </span>
                <span class="mt-7 md:mt-1">
                Conçu par
                    <a class="underline hover:text-primary-gray-20"
                                 href="https://www.linkedin.com/in/youcefaouali/">
                        Youcef
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>

</body>

</html>