[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
python-dotenv = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-crispy-forms = "*"
crispy-tailwind = "*"
psycopg2-binary = "*"
environs = "*"

[dev-packages]

[requires]
python_version = "3.11"
