<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl  md:px-8 container px-5 ">


        <div class="grid gap-8 sm:grid-cols-2 sm:gap-y-10 xl:grid-cols-3">
            <!-- question - start -->
            <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-white">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  fill-rule="evenodd"/>
          </svg>
        </span>

                <h3 class="mb-3 text-lg font-semibold text-gray-900  shadow hover:text-rose-700  md:text-xl">Quelles sont les règles concernant
                    les équipements de protection ?</h3>
                <p class="text-gray-500 text-lg">Pour garantir la sécurité de nos membres, nous exigeons le port d’équipements
                    de protection
                    tels que des gants de boxe, un casque, un protège-dents et des bandages pour les mains.
                    Avant tout achat, nos entraîneurs vous guideront sur le choix et l’ajustement appropriés de
                    ces équipements.</p>
            </div>
            <!-- question - end -->

            <!-- question - start -->
            <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-white">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  fill-rule="evenodd"/>
          </svg>
        </span>

                <h3 class="mb-3 text-lg font-semibold  shadow hover:text-rose-700 md:text-xl">Quelles sont les valeurs et l’esprit
                    de notre association de boxe anglaise ?</h3>
                <p class="text-gray-500 text-lg">Notre association prône le respect, la discipline et la
                    camaraderie entre les membres.
                    Nous encourageons l’esprit d’équipe et le soutien mutuel, car la boxe anglaise est autant
                    un sport individuel qu’une aventure collective.</p>
            </div>
            <!-- question - end -->

            <!-- question - start -->
            <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-white">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  fill-rule="evenodd"/>
          </svg>
        </span>
                <h3 class="mb-3 text-lg font-semibold text-gray-900 shadow hover:text-rose-700 md:text-xl">Que retrouve-t-on dans un cours de
                    boxe ?
                </h3>
                <p class="text-gray-500 text-lg">Nous proposons une variété d'entrainements adaptés aux adultes, aux
                    adolescents
                    et aux enfants. Cela comprend des sessions dédiées techniques de boxe, des phases de renforcement
                    musculaire et conditionnement, ainsi que des moments dédiés aux "sparrings", c'est-à-dire des
                    rounds de boxe encadrés  pour une mise en situation, afin d'appliquer les techniques enseignées.
                </p>
            </div>
            <!-- question - end -->

            <!-- question - start -->
            <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-white">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  fill-rule="evenodd"/>
          </svg>
        </span>

                <h3 class="mb-3 text-lg font-semibold text-gray-900 shadow hover:text-rose-700 md:text-xl"> Quel niveau d'expérience est
                    nécessaire pour rejoindre vos classes?
                </h3>
                <p class="text-gray-500 text-lg">Nos classes sont conçues pour accueillir tous les niveaux de compétence et de
                    condition physique. Que vous soyez débutant ou que vous ayez de l'expérience, nos entraîneurs
                    adaptent les classes pour garantir que chacun peut bénéficier et progresser.
                </p>
            </div>
            <!-- question - end -->

            <!-- question - start -->
            <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-white">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  fill-rule="evenodd"/>
          </svg>
        </span>

                <h3 class="mb-3 text-lg font-semibold text-gray-900 shadow hover:text-rose-700 md:text-xl"> Y a-t-il des restrictions d'âge pour
                    certaines classes ou activités?
                </h3>
                <p class="text-gray-500 text-lg">Les enfants âgés de 6 ans et plus peuvent assister à nos classes, les cours
                    sont supervisés par plusieurs adultes.
                    Pour les personnes âgées de 12-13 ans, il sera possible d'envisager les cours chez les
                    ados/adultes.
                </p>
            </div>
            <!-- question - end -->

            <!-- question - start -->
            <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-white">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  fill-rule="evenodd"/>
          </svg>
        </span>

                <h3 class="mb-3 text-lg font-semibold text-gray-900  shadow hover:text-rose-700  md:text-xl">Comment puis-je rejoindre votre
                    association de boxe anglaise ?</h3>
                <p class="text-gray-500 text-lg">Il suffit de venir
                    directement à notre salle lors des horaires d'entrainement. Vous pouvez participer à un
                    cours
                    d’essai pour voir si notre style de boxe vous convient. Nous accueillons les débutants
                    et les pratiquants expérimentés. Vous aurez accès à des séances
                    d’entraînement régulières et variées, des partenaires d’entraînement et des événements
                    spéciaux.</p>
            </div>
            <!-- question - end -->
        </div>
    </div>
</div>