{% load tailwind_filters %}
{% block map %}


<section>
    <div class="container px-5 py-20 mx-auto">
        <div class="container px-5 py-20 mx-auto">
            <div class="flex flex-col text-center w-full mb-6">
                <h1 class="sm:text-7xl text-7xl font-medium title-font mb-2text-white-900">Où nous trouver ?
                </h1>
                <span class="sm:text-sm  font-medium title-fonttext-white-900"> Sous les anneaux olympiques :)</span>
            </div>
        </div>

        <p class="mt-4 text-lgtext-white-500"></p>
        <div class="mt-4 lg:mt-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="rounded-lg overflow-hidden">
                    <iframe
                            allowfullscreen=""
                            height="480" loading="lazy"
                            src="https://www.google.com/maps/embed/v1/place?q=126%20Rue%20de%20Neuilly%2C%2093250%20Villemomble&key=AIzaSyBwjD2kdudGNE-jFg6qHAZF_WM_tVboX6w"
                            style="border:0;" width="100%"></iframe>
                </div>
                <div>
                    <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                        <div class="px-6 py-4">
                            <h3 class="text-lg font-mediumtext-white-900">Adresse</h3>
                            <p class="mt-1text-white-900 text-xl ">126 Rue de Neuilly, 93250 Villemomble</p>
                        </div>

                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-mediumtext-white-900">Contact</h3>
                            <p class="mt-1text-white-900 text-xl">Email: villemombleboxingclub@gmail.com</p>
                            <!--                            <p class="mt-1text-white-600">Téléphone: +123123</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}