{% block content %}
<section class="">
    <div class="">
            <iframe class="flex flex-wrap" frameborder="0" marginheight="0" marginwidth="0"
                    scrolling="no"
                    src="https://www.google.com/maps/embed/v1/place?q=126%20Rue%20de%20Neuilly%2C%2093250%20Villemomble&key=AIzaSyBwjD2kdudGNE-jFg6qHAZF_WM_tVboX6w"
                     width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>

  </div>


</section>
{% endblock %}